<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Servletproj</display-name>
    <servlet-name>Servletproj</servlet-name>
    <servlet-class>Servletproj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletproj</servlet-name>
    <url-pattern>/Servletproj</url-pattern>
  </servlet-mapping>
  <display-name>jfsWebProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>productServletPage</display-name>
    <servlet-name>productServletPage</servlet-name>
    <servlet-class>productServletPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServletPage</servlet-name>
    <url-pattern>/productServletPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productDisplayPage1</display-name>
    <servlet-name>productDisplayPage1</servlet-name>
    <servlet-class>productDisplayPage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDisplayPage1</servlet-name>
    <url-pattern>/productDisplayPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyservletClass</display-name>
    <servlet-name>MyservletClass</servlet-name>
    <servlet-class>servlet.MyservletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyservletClass</servlet-name>
    <url-pattern>/MyservletClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displaypage</display-name>
    <servlet-name>Displaypage</servlet-name>
    <servlet-class>Displaypage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displaypage</servlet-name>
    <url-pattern>/Displaypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dislayservlet</display-name>
    <servlet-name>dislayservlet</servlet-name>
    <servlet-class>dislayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dislayservlet</servlet-name>
    <url-pattern>/dislayservlet</url-pattern>
  </servlet-mapping>
</web-app>